<div class="container_lists">       
    <div class="list_name"><%= link_to "#{customer.last_name} #{customer.first_name}", customer_path(customer.id) %></div>
    <div class="list_address"><%=customer.prefecture.name%><%= customer.city%><%=customer.house_number%><%= customer.building_name%></div>
    <div class="list_visit_date"><%= customer.start_time.strftime("%Y年%m月%d日")%></div>
    <div class="list_purchase_date">
      <% if customer.purchase_date.present? %>
        <%= customer.purchase_date.strftime("%Y年%m月%d日") %>
      <% else %>
        <%= "購入記録なし" %>
      <% end %>
    </div>
    <div class="list_plice">
        <%= customer.amount_money %>
    </div>
</div>

<div class="secondary_lists">
        <div class="upper_lists">
          <div class="secondary_name"><%= link_to "#{customer.last_name} #{customer.first_name}", customer_path(customer.id)%></div>
          <div class="secondary_visit_date"><%= customer.start_time.strftime("%Y年%m月%d日")%></div>
          <div class="secondary_purchase_date">
            <% if customer.purchase_date.present? %>
              <%= customer.purchase_date.strftime("%Y年%m月%d日") %>
            <% else %>
               <%= "購入記録なし" %>
             <% end %>
          </div>
          <div class="secondary_plice"><%= customer.amount_money %></div>
        </div>
        <div class="lower_lists">
          <div class="secondary_address"><%=customer.prefecture.name%><%= customer.city%><%=customer.house_number%><%= customer.building_name%></div>
        </div>
</div>
