<div class="customers_wrapper">
  <div class="customer_header">
    <div class="customer_main">
      <div class="customer_title">顧客リスト一覧</div>
      <div class="home_top">
        <%= link_to "トップページへ戻る", root_path %>
      </div>
    </div>
  </div>

  <div class="customers_container">
    <% if flash[:notice] %>
        <p class="flash_message"><%= flash[:notice] %></p>
    <% end %>
    <%= render 'search_form'%>

      <div class="sort">
        -- 並び切替 --
        <%= sort_link(@p, :'amount_money desc', "売上(高い順)" )%> -
        <%= sort_link(@p, :'amount_money asc', "売上(低い順)" )%> -
        <%= sort_link(@p, :'purchase_date desc', "購入順" )%> -
        <%= sort_link(@p, :'start_time desc', "訪問順" )%> --
      </div>


  
    <div class="customer_container">
      <div class="container_lists">
        
          <div class="list_name">名前</div>
          <div class="list_address">住所</div>
          <div class="list_visit_date">訪問日</div>
          <div class="list_purchase_date">購入日</div>
          <div class="list_plice">売上高</div>
        
      </div>

      <% @customers.each do |customer| %>
        <%= render partial: customer, locals: { customer: customer}%>
      <% end %>
    </div>
  </div>

</div>